@{
    ViewData["Title"] = "Index";
}


<section>
    <p>
        El desayuno es la primera comida que se consume en el día. 
        El nombre deriva del hecho de que uno no come mientras duerme, 
        por lo que al levantarse se encuentra en ayunas, rompiéndose ese ayuno al tomar esta comida (des-ayuno).
    </p>
    <p>
        El desayuno es la comida fundamental del día, ya que consumirlo o no, nos afecta de forma notable a corto y a largo plazo.
        Se ha demostrado que los niños que no desayunan o que solo toman un vaso de leche, rinden menos en el colegio que los que ingieren un desayuno adecuado.
        Estudios recientes afirman que el desayunar ayuda a acelerar el metabolismo, lo cual es un factor beneficioso para prevenir la obesidad.
    </p>
    <p>
        En Argentina, Paraguay y Uruguay, se desayuna mate cocido, té, leche chocolatada o café con leche, jugo de naranja, con algo dulce:
        <ul>
            <li>
                medialunas (que, dulces o saladas, son parecidas a los croissants franceses)
            </li>
            <li>
                facturas (masas dulces, a veces con relleno de dulce de leche)
            </li>
            <li>
                pan con manteca, dulce o queso
            </li>
            <li>
                masitas dulces o saladas
            </li>
            <li>
                galletitas saladas, o tostadas.
            </li>
        </ul>
        También es común desayunar con unos mates (amargos o dulces) acompañados por galletitas de grasa o bizcochos (salados, de hojaldre).
    </p>
</section>

@section SideBar{
    <aside class="aside">
        <h3>@ViewBag.Saludo</h3>
        <p>@ViewBag.Fecha</p>

            <img src="./img/1.jpg"/>
            <img src="./img/3.jpg"/>
            <img src="./img/4.jpg"/>

    </aside>
}

